/* General */
.section {
    padding: 70px 0;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.title_1 {
    margin-bottom: 60px;
  
    font-family: DM Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.5px;
    color: #5c62ec;
    text-align: center;  
}

.title_2 {
    margin-bottom: 20px;
  
    color: #171718;
    text-align: center;
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.5px;
}

/* Content list */
.content_list {
    margin: 0 auto;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
}
  
.content_list a {
    color: #5c62ec;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.5px;
}
  
.content_list_item p{
    color: #171718;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.5px;
}
  
.content_list_item p + p {
    margin-top: 0.5em;
}

@media (max-width: 620px) {
    /* General */
    .section {
        padding: 40px 0;
    }
    .title_1 {
        margin-bottom: 30px;
        font-size: 40px;
    }
    .title_2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    /* Content List */
    .content_list {
        row-gap: 20px;
    }

    .content_list_item p {
        font-size: 16px;
    }
}

