.hero {
	padding: 40px 0;
	min-height: 695px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #171718;
	background-image: url('../../img/hero-bg.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center center;
	color: #FFF;
	text-align: center;
}

.hero_wrapper {
	padding: 0 15px;
	max-width: 660px;
}

.hero_title {
	margin-bottom: 20px;
	font-size: 40px;
    text-align: center;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #FFF;
}

.strong {
	font-size: 60px;
	font-weight: 700;
}

.bold_colorfull {
	color: #5c62ec;
}

.hero_text {
	margin-bottom: 40px;
	color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.5px;
}

.hero_text p + p {
	margin-top: 0.5em;
}

.btn {
	display: inline-block;
	height: 48px;
	padding: 12px 28px;

	border-radius: 5px;
	background-color: #5c62ec;
	color: #FFF;
	letter-spacing: 0.15px;
	font-size: 16px;
	font-weight: 500;

	transition: opacity 0.2s ease-in;
}

.btn:hover {
	opacity: 0.8;
}

.btn:active {
	position: relative;
	top: 1px;
}