/* Btn outline */
.btn_outline {
    display: flex;
    column-gap: 10px;
    align-items: center;
  
    height: 48px;
    padding: 12px 20px;
  
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
  
    transition: opacity 0.2s ease-in;
}
  
.btn_outline:hover {
    opacity: 0.8;
}
  
.btn_outline:active {
    position: relative;
    top: 1px;
}