.footer {
	margin-top: auto;
	padding: 60px 0 50px;
	background-color: #171718;
	color: #FFFFFF;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}

.footer_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 27px;
}

.social {
	display: flex;
	column-gap: 30px;
	align-items: center;
}

.social_item svg{
    fill: #FFF;
    width: 40px;
    height: 40px;
    transition: fill 0.2s ease-in;
}

.social_item:hover svg{
    fill: #5C62EC;
    width: 40px;
    height: 40px;
}


.copyright {
	color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.copyright p + p {
	margin-top: 0.5em;
}